@import url('auth.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  }
#app{
    width: 100%;
    min-height: 100vh;
    background-color: #3999ff;
}


html {
    font-family: "CircularStd", system-ui, sans-serif;
  }
  
  /* Botones */
  .btn {
    margin: 2px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .btn-sm {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-weight: bold;
    /*text-transform: uppercase;*/
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 20px !important;
    height: 20px !important;
  }
  
  .btn-sm .material-symbols-outlined {
    font-size: 22px;
  }
  
  .btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilos adicionales para botones */
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #1a732e;
  }
  
  .btn-danger {
    background-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #a71d29;
  }
  
  .btn-warning {
    background-color: #ffc107;
  }
  
  .btn-warning:hover {
    background-color: #b08804;
  }
  
  /* Estilos adicionales para botones con icono sin texto */
  .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }
  
  .btn-icon i {
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100;
    margin: 0 auto;
  }
  
  .btn-icon:hover {
    background-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-icon-only {
    width: 35px;
    height: 35px;
  }
  
  .btn-group {
    display: flex;
  }
  
  .btn-opacity {
    background-color: rgba(100, 100, 100, .5);
    backdrop-filter: blur(10px);
    height: auto;
    width: auto;
  }
  
  .btn-opacity .material-symbols-outlined {
    font-size: 30px;
  }
  
  .btn-opacity:hover {
    background-color: rgba(100, 100, 100, 1);
    backdrop-filter: blur(0px);
  }
  
  /*PAGINATION*/
  .pagination {
    width: 100%;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
  
  @media screen and (min-width: 600px) and (orientation: landscape) {
  }
  
  @media screen and (min-width: 906px) {
  
  }
  @media screen and (min-width: 1200px) {
  }
  
  @media screen and (min-resolution: 2dppx) {
  }